.Gon {
  width: 1125px;
  height: 605px;
  background: linear-gradient(white, #2cb448);
  border-radius: 15px;

  .razm {
    max-width: 1045px;
    margin: 0 auto;

    .Main {
      display: flex;
      justify-content: space-between;
      gap: 105px;

      .txt {
        display: flex;
        flex-direction: column;

        .back {
          display: flex;
          align-items: center;
          gap: 15px;
          height: 50px;

          > a {
            > img {
              width: 50px;
              height: 50px;
            }
          }

          > h1 {
            font-size: 48px;
            color: #4AC863;
          }
        }

        >p{
            display: flex;
            text-align: start;
            width: 310px;
            height: 280px;
            font-size: 17px;
            border-radius: 15px;
            padding-top: 5px;
            padding-left: 5px;
            background: linear-gradient(white, #2cb448);
        }

        .battons{
            display: flex;
            flex-direction: column;
            margin-top: 60px;
            gap: 45px;

            .knp{
                width: 390px;
                height: 50px;
                background-color: #2C773B;
                color: white;
                font-size: 16px;
                border: none;
                border-radius: 4px;

            }

            .knps{
                display: flex;
                gap: 73px;

                >button{
                    width: 153px;
                    height: 38px;
                    background-color: #2C773B;
                    color: white;
                    font-size: 16px;
                    border: none;
                    border-radius: 4px;
                }
            }
        }
      }
    }
  }
}
