@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@300..700&display=swap');
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

*{
  font-family: "Red Rose";
}